<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>339771998973-6os64lkd5491mjnblh328tt8ue2dd3ok.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.339771998973-6os64lkd5491mjnblh328tt8ue2dd3ok</string>
	<key>API_KEY</key>
	<string>AIzaSyDjWpAQKZbRb4QquVgiJrgAlCG2zIVjIbs</string>
	<key>GCM_SENDER_ID</key>
	<string>339771998973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.helloWorld</string>
	<key>PROJECT_ID</key>
	<string>budget-tracking-b415b</string>
	<key>STORAGE_BUCKET</key>
	<string>budget-tracking-b415b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:339771998973:ios:daec8238dd855f7e787494</string>
</dict>
</plist>